/* General */
body {
  margin: 0px;
  padding: 0px;
  font-family: verdana;
  font-size: 13px;
  line-height: 18px;
}
a {
  text-decoration: none;
  color: #777777;
}
a:hover {
  color: #999999;
}
h1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  margin: 12px 0;
}
h2 {
  font-size: 15px;
  line-height: 25px;
  font-weight: bold;
  margin: 5px 0;
}
p {
  margin: 13px 0;
}

/* Home */
body.prelogin {
  background-image: url('../images/home-background.jpg');
}
#home-container {
  width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -370px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 8px 8px 8px #888888;
}
#home-container.login {
  height: 150px;
  margin-top: -95px;
}
#home-container.register {
  height: 200px;
  margin-top: -120px;
}
#home-loading-spinner, #main-loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
}
.home-pane {
  width: 700px;
  overflow: hidden;
}
.home-left {
  width: 350px;
  float: left;
}
.home-right {
  width: 350px;
  float: right;
}
.home-title {
  text-align: center;
}
.home-fields {
  border: none;
  padding: 0px;
  margin: 0px;
  width: 340px;
}
.home-label {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  text-align: right;
}
.home-field {
  width: 150px;
  margin-left: 0px;
  margin-right: 0px;
}
.home-field.invalid, .home-field.unavailable {
  background-color: #ff9999;
}
.home-button {
  margin-top: 20px;
  margin-right: 36px;
  float: right;
}
#home-container, .home-pane, #home-loading-spinner, .register-tip, #github-ribbon {
  display: none;
}
#login-error, #register-error {
  display: inline-block;
  margin: 20px 0 0 20px;
  color: #ff0000;
}
#github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
}

/* Main */
#main-container, .main-pane, #main-loading-spinner, #editor-new-menu {
  display: none;
}

/* Lobby */
#lobby-pane {
  padding: 10px;
}
a.lobby-level-filter.selected {
  cursor: text;
  font-weight: bold;
  color: black;
}
#lobby-editor {
  margin-left: 50px;
}
#logout-button {
  float: right;
}
#lobby-levels-table {
  margin-top: 5px;
}
#lobby-levels-table th {
  font-weight: bold;
  padding-bottom: 5px;
}
#lobby-levels-table td {
  border-spacing: 0;
  height: 26px;
  vertical-align: middle;
}
#lobby-levels-table img {
  vertical-align: middle;
}
#lobby-levels-table td.completed img {
  display: block;
  margin: 0 auto;
}
#lobby-levels-table td.players {
  padding-left: 10px;
}
#lobby-level-name {
  width: 300px;
}
#lobby-level-completed {
  width: 100px;
}
#lobby-level-rating {
  width: 120px;
}
#lobby-level-players {
  width: 140px;
}
#lobby-level-buttons {
  width: 150px;
}

/* Play */
#play-pane {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

/* Editor */
#editor-canvas-holder {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 300px;
   height: 100%;
   overflow: auto;
}
#editor-sidebar {
   position: absolute;
   top: 0px;
   right: 0px;
   width: 300px;
   height: 100%;
}
#editor-buttons, #editor-controls {
  height: 26px;
}
#editor-tree, #editor-properties {
  height: calc(50% - 46px);
  overflow: auto;
  padding: 10px;
}
ol.tree {
  list-style-type: none;
  margin-left: 10px;
}
ol.tree span {
  margin-left: 5px;
  cursor: pointer;
}
ol.tree img {
  cursor: pointer;
}
ol.tree span.selected {
  background-color: #cccccc;
}
#editor-properties label {
  margin-right: 5px;
}
#editor-new-background {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
#editor-new-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 210px;
  margin-left: -115px;
  height: 116px;
  margin-top: -68px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 8px 8px 8px #888888;
}
.editor-new-label {
  margin-right: 5px;
}
#editor-new-buttons {
  text-align: right;
  margin-top: 5px;
}
#editor-new-ok {
  display: inline-block;
}
#editor-new-cancel {
  display: inline-block;
}
