body {
  margin: 0px;
  padding: 0px;
  font-family: verdana;
  font-size: 13px;
  line-height: 18px;
}
a {
  text-decoration: none;
  color: #777777;
}
a:hover {
  color: #999999;
}
h1 {
  font-size: 18px;
  line-height: 28px;
}
h2 {
  font-size: 15px;
  line-height: 25px;
}

body.prelogin {
  background-image: url('../images/home-background.jpg');
}
#home-container {
  width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -370px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 8px 8px 8px #888888;
}
#home-container.login {
  height: 150px;
  margin-top: -95px;
}
#home-container.register {
  height: 200px;
  margin-top: -120px;
}
#loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
}
.home-pane {
  width: 700px;
  overflow: hidden;
}
.home-left {
  width: 350px;
  float: left;
}
.home-right {
  width: 350px;
  float: right;
}
.home-title {
  text-align: center;
}
.home-fields {
  border: none;
  padding: 0px;
  margin: 0px;
  width: 340px;
}
.home-label {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  text-align: right;
}
.home-field {
  width: 150px;
  margin-left: 0px;
  margin-right: 0px;
}
.home-field.invalid {
  background-color: #FF9999;
}
.home-button {
  margin-top: 20px;
  margin-right: 36px;
  float: right;
}
#home-container, .home-pane, #loading-spinner {
  display: none;
}

#main-container, .main-pane {
  display: none;
}

/* editor */
ol.tree {
  list-style-type: none;
}
